DISCORD_TOKEN=
GUILD_ID=
DATABASE_PATH=db/pt_llm_bot.sqlite3
OLLAMA_BASE_URL=http://127.0.0.1:11434
OLLAMA_MODEL=mistral
COMMAND_PREFIX=!

PROGRAMME_CHANNEL_ID=
ACTIVITY_CHANNEL_ID=
CHECKIN_CHANNEL_ID=
ASK_CHANNEL_ID=
PRS_CHANNEL_ID=
SETTINGS_CHANNEL_ID=
CHANGELOG_CHANNEL_ID=1481473903657226321
ADMIN_ROLE_ID=
WORKOUT_CHANNEL_IDS=
